@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.sidebar-header {
  padding: 1rem;
  height: 5rem;

  @include flex-row-sb-center;

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    color: $text-color-grey;
  }

  &__icon-container {
    @include flex-row-center-center;
    justify-content: end;
  }

  &__icon {
    @include icon-style(#eee);
  }
}
