@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.sidebar {
  width: 35%;
  border-right: 1px solid #eee;

  display: flex;
  flex-direction: column;
  justify-content: start;
}
