@import '../../utils/mixins.scss';

.input {
  @include input;
}

.signin-btn {
  width: 10rem;
}

.sign-in-cta {
  margin-top: 1.5rem;
  font-size: 1.4rem;

  a {
    text-decoration: none;
  }
}

.login-form {
  @include flex-column-center-center;
}
