@import './variables.scss';

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-style($color) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.2rem;
  margin-left: 0.5rem;
  border-radius: 10rem;

  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    background-color: $color;
  }
}

@mixin profile-photo-style {
  padding: 0.5rem;
  width: 5.5rem;
  height: auto;

  img {
    margin: auto;
    height: 5rem;
    width: 5rem;
    // border: 1px solid$color-black;
    display: flex;
    border-radius: 5rem;
    cursor: pointer;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: red;
    visibility: hidden;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $color-white;
    border-radius: 5rem;
    padding-left: 0.3rem;
    visibility: hidden;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $text-color-grey--light;
    // visibility: hidden;
  }
}
